<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Business card site">
    <meta name="keywords" content="HTML, CSS, JavaScript, junior, jobs, business card">
    <meta name="author" content="Orysia Pirko">
    <title>Business card site</title>
    <link rel="stylesheet" href="style/header_footer.css" type="text/css">
    <link rel="stylesheet" href="style/main_page.css" type="text/css">

</head>
<body>
    <div class="container">
        <header>
            <div class="name">
                <p>Orysia Pirko</p>
                <p>Front-end developer</p>
            </div>
            <div>
                <ul class="main_menu">
                    <li><a href="main.page.html" id="home">home</a></li>
                    <li><a href="resume.html" id="resume">resume</a></li>
                    <li><a href="projects.html" id="projects">projects</a></li>
                    <li><a href="contacts.html" id="contacts">contacts</a></li>
                </ul>
            </div>
        </header>
        <aside>
            <div class="aside__block_left">
                <img src="img/photo_for_site.jpg" class="my_photo" alt="">
            </div>
            <div class="aside__block_right">
                <div class="aside__block_right_1">
                    <p>Hello,</p>
                    <p>a bit about me:</p>
                </div>
                <div class="aside__block_right_2">
                    <a href="resume.html"><p>my resume</p></a>
                    <a href="projects.html">my work</a>
                    <a href="resume.html">my skills</a>
                </div>
                <div class="aside__block_right_3">
                    <table class="about_me">
                        <tr>
                            <td>Date of birth</td>
                            <td>19.03.1998</td>
                        </tr>
                        <tr>
                            <td>adress</td>
                            <td>Lviv, Ukraine</td>
                        </tr>
                        <tr>
                            <td>nationality</td>
                            <td>Ukrainian</td>
                        </tr>
                        <tr>
                            <td>phone</td>
                            <td>093-47-60-997</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>pirkoorysia9@gmail.com</td>
                        </tr>
                    </table>
                </div>
            </div>
        </aside>
        <footer>
            <div>
                <div class="footer_item"><p>&#9990;</p></div>
                <div class="footer_item_2">
                    <p class="footer_item_2_1">Call</p>
                    <p>T:093-47-60-997</p>
                </div>
            </div>
            <div>
                <div class="footer_item"><p>&#9993;</p></div>
                <div class="footer_item_2">
                    <p class="footer_item_2_1">Contact</p>
                    <p><a href="https://mail.google.com" target="_blank">pirkoorysia9@gmail.com</a></p>
                </div>
            </div>
            <div>
                <div class="footer_item footer_item_1"><p>+</p></div>
                <div class="footer_item_2">
                    <p class="footer_item_2_1">Follow me</p>
                    <p id="foloow_me">
                        <a href="https://www.facebook.com/orysia.pirko" target="_blank">f</a>
                        <a href="https://www.linkedin.com/in/orysia-pirko-133a431b3/" target=_blank>in</a>
                    </p>
                </div>
            </div>
            <div>
                <div class="footer_item footer_item_1"><p>&copy;</p></div>
                <div class="footer_item_2">
                    <p class="footer_item_2_1">&copy; 2021 by Orysia Pirko</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>